<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FinalAirlineBackendProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FlightSearchServlet</display-name>
    <servlet-name>FlightSearchServlet</servlet-name>
    <servlet-class>com.FlightSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightSearchServlet</servlet-name>
    <url-pattern>/FlightSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlightBookingServlet</display-name>
    <servlet-name>FlightBookingServlet</servlet-name>
    <servlet-class>com.FlightBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightBookingServlet</servlet-name>
    <url-pattern>/FlightBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthoServlet</display-name>
    <servlet-name>AuthoServlet</servlet-name>
    <servlet-class>com.AuthoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthoServlet</servlet-name>
    <url-pattern>/AuthoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashboardServlet</display-name>
    <servlet-name>DashboardServlet</servlet-name>
    <servlet-class>com.DashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardServlet</servlet-name>
    <url-pattern>/DashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegistrationServlet</display-name>
    <servlet-name>UserRegistrationServlet</servlet-name>
    <servlet-class>com.UserRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegistrationServlet</servlet-name>
    <url-pattern>/UserRegistrationServlet</url-pattern>
  </servlet-mapping>
</web-app>